  <!--FileName:footer.ejs-->
<!-- Student: Sujina Basyal -->
    <!-- Student ID:301281848 -->
    <!-- Date: October 3, 2023 -->
 <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>